html, body {
    height: 100%;
    margin:0;
}

$font-face : monospace; 
$primary-color : royalblue;
$secondary-color: ghostwhite;
$accent-color : rgb(223, 113, 132);

.full-page {
    height: 100vh;
}

.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textify {
    background:  $primary-color;
    color : $secondary-color;
    font-weight: bolder;
    font-size: 4rem;
    font-family: $font-face;
}


.container {
    .row {
        background: $accent-color;
        color : $secondary-color;
        font-family: cursive;
        font-size: 2rem;
    }
}